/* GamePage Styles */
.game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaf2f8;
    padding: 30px;
}

.game_header {
    font-size: 36px;
    color: #2c3e50;
}
