/* PlayerPage Styles */
.player_history {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dff9fb;
    padding: 25px;
}

.history_header {
    font-size: 36px;
    color: #130f40;
}

.player_history .player-details {
    margin-top: 20px;
    font-size: 18px;
    color: #535c68;
}

.player_history .back-button {
    font-size: 20px;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.player-page .back-button:hover {
    background-color: #c0392b;
}
